body{
    background: #FFFFFF;
}

#img{
    width: 505px;
    height: 330px;
    margin-right: 95px;
}

#main{
    align-self: center;
    display: flex;
    margin-left: 20%;
    margin-top: 96px;
}

aside{
    display: inline-block;
}

h1{
    width: 380px;
    height: 50px;

    /* T1 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    /* or 50px */


    /* Dark #1 */

    color: #121212;
}

article{
    width: 380px;
    height: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;

    margin-top: 24px;

    color: #121212;
}

#button{
    /* button */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 40px;
    gap: 10px;

    position: relative;
    width: 64px;
    height: 24px;

    /* Primary #1 */
    margin-top: 32px;
    background: #E4C1AE;
    border-radius: 40px;
}

#button:hover {
    background-color: black;
}

#textInButton{
    width: 48px;
    height: 16px;
    align-self: center;
    position: relative;
    left: 10px;

    /* Button Text */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#Overlay, #Alert{
    visibility: hidden;
}

#Overlay{
    position: fixed;
    width: 100%;
    opacity: 0.5;
    top: -150px;
    left: -8px;
    height: 960px;  
    background-color: #121212;
    width: calc(100% + 8px);
}

#Alert
{
    position: absolute;
    height: 210px;
    width: 920px;
    background-color: white;
    bottom: calc(50% - 105px);
    left: calc(50% - 460px);
}

#AlertHeader{
    position: relative;
    width: 380px;
    height: 50px;
    left: 95px;
    top: 25px;

    /* T1 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 120%;
    /* or 50px */


    /* Dark #1 */

    color: #121212;
}

#AlertText{
    position: relative;
    display: inline-flex;
    top: 20px;
    left: 95px;
    font-family: 'Roboto';
}

#AlertClicks{
    padding-left: 5px;
    padding-right: 5px;
}

#CrossIcon{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 40px;
    right: 40px;
}

#CrossIcon:hover{
    cursor: pointer;
}

#Cross{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
}